################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Jelper.Desktop/bin
/Jelper.Desktop/obj
*.user
